<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/game-controller-64px.png' %}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Flickity (for sliders) -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
          type="text/css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous"></script>

    <!-- Load custom JS -->
    <script src="{% static 'js/add-game.js' %}"></script> <!-- For adding a game to a list -->
    <script src="{% static 'js/gatherer.js' %}"></script> <!-- For monitoring user behavior -->

    {% block head %}
    {% endblock head %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container" id="navbar-container"><a class="navbar-brand" href="{% url 'index' %}">
        <img id="navbar-branding-img" src="{% static 'img/game-controller-64px.png' %}"/>
        GamePlan
    </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto" id="main-nav">
                <li class="nav-item" role="presentation">
                    {% include "gameplan/search-form.html" %}
                </li>
                <li class="nav-item" role="presentation">
                    <div class="btn-group-vertical" role="group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                type="button"><i class="fas fa-book nav-icon"></i>Genres
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" id="genres-dropdown">
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto" id="login-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'wishlist' %}">
                            <button class="btn btn-primary" type="button"><i class="fas fa-heart nav-icon"></i>Wishlist
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <button class="btn btn-primary" type="button"><i class="fas fa-unlock nav-icon"></i>Account
                            </button>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}">
                            <button class="btn btn-primary" type="button"><i class="fas fa-unlock nav-icon"></i>Login
                            </button>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock content %}

<script>
    csrftoken = '{{ csrf_token }}'; // IMPORTANT!
    sessionid = '{{ session_id }}'; // IMPORTANT!

    $(document).ready(function () {
        loadGenres();
        console.log("Session id is " + sessionid)
    });

    // Search and autocomplete
    const autocompleteEl = document.getElementById('autocomplete');
    $('#search-titles').on('input', function () {
        const searchQuery = $('#search-titles').val();
        if (searchQuery === '') {
            clearSearchResults(autocompleteEl);
        } else {
            $.ajax({
                type: 'GET',
                url: '/search/a/' + searchQuery,
                success: function (result) {
                    clearSearchResults(autocompleteEl);
                    if (result != null && Object.values(result).length > 0) {
                        Object.values(result).forEach(function (game) {
                            addSearchResult(autocompleteEl, game);
                        });
                    }
                }
            });
        }
    }).focusin(function () {
        autocompleteEl.style.display = 'inherit';
    }).focusout(function () {
        setTimeout(function () {
            autocompleteEl.style.display = 'none'
        }, 200);
    });

    function addSearchResult(element, game) {
        const autoCompleteItem = document.createElement('a');
        autoCompleteItem.setAttribute('class', 'list-group-item');
        autoCompleteItem.innerHTML = game['title'];
        autoCompleteItem.setAttribute('href', '/games/' + game['game_id']);
        element.appendChild(autoCompleteItem)
    }

    function clearSearchResults(element) {
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function loadGenres() {
        const dropdown = document.getElementById('genres-dropdown');
        {% for genre in genres %}
            item = document.createElement('a');
            item.setAttribute('class', 'dropdown-item');
            item.setAttribute('href', '/genre/{{ genre.genre_id }}');
            item.innerHTML = '{{ genre.name }}';
            dropdown.appendChild(item);
        {% endfor %}
    }
</script>
</body>
</html>
