<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GamePlan</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous"></script>

    {% block head %}
    {% endblock head %}
</head>

<body>
<nav class="navbar navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" id="brand-name" href="#">GamePlan</a>
        <!-- Toggler for small resolutions -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form>
                        <input type="search" class="form-control input-lg" id="inputGameName"
                               placeholder="Search for a game">
                    </form>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Genres
                        </button>
                        <div class="dropdown-menu" id="genres-dropdown">
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Login</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container p-0">
    {% block content %}{% endblock content %}
</div>

<script>
    $(document).ready(function () {
        loadGenres()
    });

    function loadGenres() {
        url = '/genres/get-all-genres/';
        $.getJSON(url, function (result) {
            if (result != null) {
                dropdown = document.getElementById('genres-dropdown');
                Object.values(result).forEach(function (key) {
                    item = document.createElement('a');
                    item.setAttribute('class', 'dropdown-item');
                    item.setAttribute('href', '/genre/' + key['genre_id']);
                    item.innerHTML = key['name'];

                    dropdown.appendChild(item)
                });
            }
        });
    }
</script>
</body>
</html>
