<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}GamePlan | Recommendations based on you favourite games!{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css"/>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous"></script>

    {% block head %}
    {% endblock head %}
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" id="brand-name" href="{% url 'index' %}">GamePlan</a>
        <!-- Toggler for small resolutions -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="search" class="form-control input-lg" id="inputGameName"
                                   placeholder="Search for a game">
                            <button type="button" class="btn btn-primary input-group-prepend" id="search-button">
                                Search
                            </button>
                        </div>
                    </form>
                </li>

                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Genres
                        </button>
                        <div class="dropdown-menu" id="genres-dropdown">
                        </div>
                    </div>
                </li>


                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#">
                            <button type="button" class="btn btn-primary">Account</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}">
                            <button type="button" class="btn btn-primary">Login</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock content %}
</div>

<script>
    $(document).ready(function () {
        loadGenres()
    });

    $('#inputGameName').on('input', function () {
        var element = document.getElementById('contentRec');
        const searchQuery = $('#inputGameName').val();
        if (searchQuery === '') {
            clearSearchResults(element);
        } else {
            url = '/search/' + searchQuery;
            $.getJSON(url, function (result) {
                clearSearchResults(element);

                if (result != null && Object.values(result).length > 0) {
                    Object.values(result).forEach(function (game) {
                        addSearchResult(element, game);
                    });
                }
            });
        }
    });

    function addSearchResult(element, game) {
        var itemDiv = document.createElement('div');
        itemDiv.setAttribute('class', "col-sm-2 img-responsive item");

        var itemLink = document.createElement('a');
        itemLink.setAttribute('href', '/games/game/' + game['game_id']);

        var itemImage = document.createElement('img');
        itemImage.setAttribute('src', 'https://' + game['cover']);
        itemImage.setAttribute('class', "img-fluid rec-item");
        itemImage.setAttribute('title', game['title']);
        itemLink.appendChild(itemImage);

        itemDiv.appendChild(itemLink);

        element.appendChild(itemDiv);
    }

    function clearSearchResults(element) {
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function loadGenres() {
        url = '/genres/get-all-genres/';
        $.getJSON(url, function (result) {
            if (result != null) {
                dropdown = document.getElementById('genres-dropdown');

                // alphabetically sort the genres
                result.sort(function (a, b) {
                    if (a.name < b.name) {
                        return -1;
                    }
                    if (a.name > b.name) {
                        return 1;
                    }
                    return 0;
                });

                // create the items for the genres dropdown
                Object.values(result).forEach(function (key) {
                    item = document.createElement('a');
                    item.setAttribute('class', 'dropdown-item');
                    item.setAttribute('href', '/genre/' + key['genre_id']);
                    item.innerHTML = key['name'];

                    dropdown.appendChild(item)
                });
            }
        });
    }
</script>
</body>
</html>
