{% extends "gameplan/base.html" %}

{% block head %}
    {% load static %}
    <script>
        function removeGames(queryName) {
            document.getElementById(queryName).style.display = 'none';
            $('.item').remove()
        }
    </script>
{% endblock head %}

{% block content %}
    <div class="container px-0 section-container" id="featured-container">
        <h1 class="section-heading">Featured Titles</h1>
        <div class="carousel slide" data-ride="carousel" id="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <a href="/games/7331">
                        <img class="w-100 d-block"
                             src="https://images.igdb.com/igdb/image/upload/t_original/qwytrspu8brvow9x9y15.jpg"
                             alt="Slide Image">
                        <h1 class="featured-title-name">Uncharted 4: A Thief's End</h1>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/games/9066">
                        <img class="w-100 d-block"
                             src="https://images.igdb.com/igdb/image/upload/t_original/dwhwyahob4d4zsnjztmo.jpg"
                             alt="Slide Image">
                        <h1 class="featured-title-name">Cities Skylines</h1>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/games/19130">
                        <img class="w-100 d-block"
                             src="https://images.igdb.com/igdb/image/upload/t_original/ar66f.jpg"
                             alt="Slide Image">
                        <h1 class="featured-title-name">Civilization VI</h1>
                    </a>
                </div>
            </div>
            <div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                </a>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
    <div class="container px-0 section-container" id="recommendations-container">
        <h1 id="recommendations-heading" class="section-heading">Just for you</h1>
        <div class="slider" id="slider-1">

        </div>
    </div>

    <script>
        $(document).ready(function () {
            getContentRecommendations(6036)
        });

        // RECOMMENDATIONS
        function getContentRecommendations(gameName) {
            url = '/recommender/content-based/' + gameName + '/' + 60;
            fetchRecommendations(url);
        }

        function fetchRecommendations(url) {
            $.getJSON(url, function (result) {
                if (result.data != null) {
                    section = document.getElementById('slider-1');
                    section.style.display = 'block';
                    Object.values(result.data).forEach(function (key) {
                        addRecommendation(key, section);
                    });

                    run_flickity();
                }
            });
        }

        function addRecommendation(game, section) {
            itemDiv = document.createElement('div');
            itemDiv.setAttribute('class', 'slider-cell');

            itemImage = document.createElement('img');
            itemImage.setAttribute('class', "title-image");
            itemImage.setAttribute('src', 'https://' + game['cover']);
            itemImage.setAttribute('title', game['title']);

            itemLink = document.createElement('a');
            itemLink.setAttribute('href', '/games/' + game['game_id']);
            itemLink.appendChild(itemImage);
            itemDiv.appendChild(itemLink);
            section.appendChild(itemDiv);
        }
    </script>

{% endblock content %}
