{% extends "gameplan/base.html" %}

{% block title %}GamePlan - recommendations based on your favourite games!{% endblock title %}

{% block content %}
    <section class="container px-0">
        <section class="row" id="featured-section">
            <div class="col-lg-9">
                <div class="carousel slide" data-ride="carousel" id="index-carousel" data-interval="6000">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <a href="/games/7331">
                                <img class="w-100 d-block"
                                     src="https://images.igdb.com/igdb/image/upload/t_original/qwytrspu8brvow9x9y15.jpg"
                                     alt="Slide Image">
                                <h1 class="featured-title-name">Uncharted 4: A Thief's End</h1>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/games/9066">
                                <img class="w-100 d-block"
                                     src="https://images.igdb.com/igdb/image/upload/t_original/dwhwyahob4d4zsnjztmo.jpg"
                                     alt="Slide Image">
                                <h1 class="featured-title-name">Cities Skylines</h1>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/games/19130">
                                <img class="w-100 d-block"
                                     src="https://images.igdb.com/igdb/image/upload/t_original/ar66f.jpg"
                                     alt="Slide Image">
                                <h1 class="featured-title-name">Civilization VI</h1>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                        </a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#index-carousel" data-slide-to="1"></li>
                        <li data-target="#index-carousel" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="top-charts">
                    <h2 style="margin-top: 10px">Popular now</h2>
                    <ol>
                        {% for game in top_charts %}
                            <li class="top-chart-item">
                                <img class="top-chart-item-image" src="http://{{ game.cover }}"
                                     alt="{{ game.title }}">
                                <div class="top-chart-item-body">
                                    <a href="{% url 'game_details' game_id=game.game_id %}">{{ game.title }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </section>

        <section id="recommendations-section">
            <h1 class="section-heading" id="recommendations-heading">Just for you</h1>
            <div class="slider" id="slider-similar"></div>
        </section>
    </section>

    <script>
        $(document).ready(function () {
            element = document.getElementById('slider-similar');
            getContentRecommendations(6036, element);
        });
    </script>

{% endblock content %}
