<form action="{% url 'search_results' %}" onsubmit="return validateSearch()" id="search-form">
    <div class="input-group">
        <input name="q" class="form-control" type="search" title="search for a game title" id="search-titles"
               placeholder="Enter a game title">
        <div class="input-group-append">
            <button class="btn btn-primary" id="search-button" type="submit" title="search" aria-label="search">
                <i class="fas fa-search" aria-labelledby="search-button"></i>
            </button>
        </div>
        <div id="search-overlay">
            <ul class="list-group" id="autocomplete">
            </ul>
        </div>
    </div>
</form>

<script>
    function validateSearch() {
        searchQuery = document.forms["search-form"]["search-titles"].value;
        return searchQuery !== "";
    }
</script>