{% extends "gameplan/base.html" %}

{% block title %}Search | GamePlan{% endblock title %}

{% block head %}
    {% load static %}
    {% load gameplan_extras %}
{% endblock head %}

{% block content %}
    <div class="container">
        <h2 class="section-heading">Search Results</h2>
        <p>{{ search_results.paginator.count }} titles found:</p>
        <div class="row">
            <div class="col-md-3">
                <form method="GET">
                    <div class="card mb-4">
                        <button type="submit" class="btn btn-primary m-2">APPLY FILTER</button>
                        <h5 class="p-3 border-top border-bottom">{{ filter.form.q.label_tag }}</h5>
                        <div class="py-2 px-3">
                            <label class="p-0 mt-0 d-flex align-items-center">
                                <span class="ml-2">{{ filter.form.q }}</span>
                            </label>
                        </div>

                        <h5 class="m-0 p-3 border-top border-bottom">{{ filter.form.platforms.label_tag }}</h5>
                        <div class="py-2 px-3">
                            {% for choice in filter.form.platforms %}
                                <label class="p-0 m-0 d-flex align-items-center">
                                    <span class="ml-2">{{ choice }}</span>
                                </label>
                            {% endfor %}
                        </div>

                        <h5 class="m-0 p-3 border-top border-bottom">{{ filter.form.genres.label_tag }}</h5>
                        <div class="py-2 px-3 border-bottom">
                            {% for choice in filter.form.genres %}
                                <label class="p-0 m-0 d-flex align-items-center">
                                    <span class="ml-2">{{ choice }}</span>
                                </label>
                            {% endfor %}
                        </div>

                    <!--
                        <h5 class="m-0 p-3 border-top border-bottom">Sort</h5>
                        <div class="p-3 d-flex align-items-center">
                            <div class="dropdown">
                                <button class="btn btn-secondary-outline dropdown-toggle" type="button"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Release date (descending)
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Release date (ascending)</a>
                                    <a class="dropdown-item" href="#">Release date (descending)</a>
                                </div>
                            </div>
                        </div>
                        -->
                        <button type="submit" class="btn btn-primary m-2">APPLY FILTER</button>
                    </div>
                </form>
            </div>


            <div class="col-md-9">
                <div class="row px-3">
                    {% for game in search_results %}
                        <div class="col-sm-12 col-md-6 col-lg-4 px-2 mb-3">
                            <a href="{% url 'game_details' game_id=game.game_id %}"
                               class="no-underline search-item-link">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-left"
                                            style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ game.title }}</h5>
                                        <div class="d-flex">
                                    <span class="text-secondary font-weight-bold"><sup>
                                         Released <span class="font-weight-normal">{{ game.first_release_date }}</span>
                                    </sup>
                                    </span>
                                        </div>
                                        <div class="d-flex">
                                    <span class="text-secondary font-weight-bold"><sup>
                                        Available on <span class="font-weight-normal">
                                        {% for platform in game.platforms_full %}
                                            {% if forloop.last and not forloop.first %} and {% endif %}
                                            {{ platform.name }}{% if not forloop.last %},{% else %}.{% endif %}
                                        {% endfor %}</span>
                                    </sup>
                                    </span>
                                        </div>
                                        <div style="width: 100%; height: 320px">
                                            <img class="title-image mx-auto d-block rounded"
                                                 src="https://{{ game.cover }}"
                                                 alt="{{ game.title }}"/>
                                        </div>
                                        <button class="w-100 btn btn-outline-primary text-center">View more</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <nav aria-label="Pagination nav">
                    <ul class="pagination">
                        {% if search_results.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{{ url_extension }}">&laquo;first</a></li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ search_results.previous_page_number }}{{ url_extension }}">previous</a>
                            </li>
                        {% endif %}

                        {% for page in search_results.paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link {% if page == search_results.paginator.current %}active{% endif %}" href="?page={{ page }}{{ url_extension }}">{{ page }}</a>
                            </li>
                        {% endfor %}

                        {% if search_results.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ search_results.next_page_number }}{{ url_extension }}">next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ search_results.paginator.num_pages }}{{ url_extension }}">last&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock content %}
