<form action="{% url 'search_results' %}">
    <div class="input-group">
        <input name="q" class="form-control" type="search" id="search-titles"
               placeholder="Enter a game title">
        <div class="input-group-append">
            <button class="btn btn-primary" id="search-button" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div id="search-overlay">
            <ul class="list-group" id="autocomplete">
            </ul>
        </div>
    </div>
</form>