@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif;
}

body, html {
    height: 100%;
}

.nav-item {
    margin: 4px;
}

#search-titles {
    border-radius: 8px 0 0 8px;
}

#search-button {
    border-radius: 0 8px 8px 0;
}

#search-overlay {
    position: absolute;
    display: inherit;
    top: 38px;
    z-index: 2;
}

.navbar-brand {
    font-weight: 900;
}

.nav-icon {
    margin-right: 8px;
}


#carousel {
    overflow: hidden;
    border-radius: 32px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-brand {
    font-weight: 600;
}

.section-container {
    text-align: left;
    padding-top: 32px;
}

.section-heading {
    padding-left: 32px;
    font-weight: 800;
}

.navbar-brand {
    font-size: 30px;
}

#main-nav {
    margin-left: 16px;
}

.carousel-item {
    text-align: center;
}

.featured-title-name {
    position: absolute;
    bottom: 40px;
    font-size: 1.5rem;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: 0 0 32px black;
    font-weight: 800;
}

@media (min-width: 768px) {
    .featured-title-name {
        bottom: 48px;
        font-size: 3rem;
    }
}

.title-listing-image {
    width: 100%;
    height: auto;
}

.title-holder {
    text-align: center;
}

.title-name {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider-cell {
    text-align: center;
    width: 160px;
    height: 240px;
}

.title-image {
    max-width: 100%;
    max-height: 100%;
}

