@import url('https://rsms.me/inter/inter.css');

body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

h1 {
    font-weight: 600;
    margin-top: 32px;
}

.nav-item {
    margin: 4px;
}

.navbar-brand {
    font-weight: 800;
}

.nav-icon {
    margin-right: 8px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-brand {
    font-size: 24px;
}

#main-nav {
    margin-left: 16px;
}

#navbar-branding-img {
    width: 48px
}

#search-titles {
    border-radius: 8px 0 0 8px;
}

#search-button {
    border-radius: 0 8px 8px 0;
}

#search-overlay {
    position: absolute;
    display: inherit;
    top: 38px;
    z-index: 2;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.section-heading {
    padding-left: 32px;
    font-weight: 800;
}

#index-carousel {
    overflow: hidden;
}

.carousel-item {
    text-align: center;
}

.featured-title-name {
    position: absolute;
    bottom: 40px;
    font-size: 1.5rem;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: 0 0 32px black;
    font-weight: 800;
}

@media (min-width: 768px) {
    .featured-title-name {
        bottom: 48px;
        font-size: 3rem;
    }
}

.title-listing-image {
    width: 100%;
    height: auto;
}

.title-holder {
    text-align: center;
}

.title-name {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider-cell {
    border-left: none;
    padding: 8px;
    text-align: center;
    width: 160px;
    height: 240px;
}

.title-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

#top-image {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    #top-image {
        width: 100%;
        height: 40vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

#top-info-section {
    text-align: center;
    margin-top: -220px;
}

#top-info-box {
    margin: 0 auto;
}

#top-info-text tr {
    text-align: left;
}

#top-info-table-holder {
    padding: 16px 0 0 0;
}

#top-info-text-holder {
    justify-content: start;
}

@media (min-width: 992px) {
    #top-info-text-holder {
        justify-content: flex-end;
    }
}

#top-info-text {
    height: 100%;
}

@media (min-width: 992px) {
    #top-info-text {
        height: 50%;
    }
}

#top-cover-img {
    max-width: 100%;
    max-height: 100%;
}

#game-name-heading {
    padding-left: 8px;
    overflow-wrap: break-word;
    margin-top: 32px;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: black;
    margin-bottom: 50px;
}

@media (min-width: 992px) {
    #game-name-heading {
        padding: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 100px;
        font-size: 3rem;
        font-weight: 800;
        text-align: start;
        text-shadow: 0 0 16px black;
        color: white;
    }
}

#top-info-table-holder {
    padding: 0;
}

.cell-field {
    font-weight: bold;
}

#game-release-date {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 800;
    text-align: start;
    color: white;
}

#recommendations-section {
    margin-bottom: 32px;
}
