@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
}

.navbar {
    margin: 0;
    padding: 16px;
    z-index: 10;
}

.nav-item {
    margin: 4px;
}

#search-overlay {
    position: absolute;
    display: inherit;
    top: 38px;
    z-index: 2;
}

#brand-name {
    font-weight: 600;
    font-size: 1.5rem;
}

#search-button {
    margin-right: 1px;
    margin-left: -2px;
    z-index: 1;
}

.carousel {
    overflow: hidden;
    border-radius: 24px;
}

.carousel-item h1 {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 30px black;
}