{% extends "gameplan/base.html" %}

{% block head %}

{% endblock head %}

{% block content %}
    <div class="container px-0 section-container">
        <div id="details-block" class=""></div>
    </div>
    <div class="container px-0 section-container" id="recommendations-container">
        <h1 id="recommendations-heading" class="section-heading">Similar content</h1>
        <div class="slider" id="slider-1">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            getGameDetails({{ request.resolver_match.kwargs.game_id }});
            getContentRecommendations({{ request.resolver_match.kwargs.game_id }})
        });

        // DETAILS
        function getGameDetails(gameId) {
            url = '/games/details/' + gameId;

            $.getJSON(url, function (game) {
                if (game != null) {
                    gameDiv = document.createElement('div');

                    gameIdEl = document.createElement('p');
                    gameIdEl.innerHTML = 'Game ID: ' + {{ request.resolver_match.kwargs.game_id }};
                    gameDiv.appendChild(gameIdEl);

                    gameTitle = document.createElement('h1');
                    gameTitle.setAttribute('class', 'section-heading');
                    gameTitle.innerHTML = game[0]['title'];
                    gameDiv.appendChild(gameTitle);

                    gameImage = document.createElement('img');
                    gameImage.setAttribute('class', 'game-headline-image row text-center');
                    gameImage.setAttribute('src', 'https://' + game[0]['screenshots'][0]['url']);
                    gameDiv.appendChild(gameImage);

                    document.getElementById('details-block').appendChild(gameDiv)

                }
            });
        }


        // RECOMMENDATIONS
        function getContentRecommendations(gameName) {
            url = '/recommender/content-based/' + gameName + '/' + 60;
            fetchRecommendations(url);
        }

        function fetchRecommendations(url) {
            $.getJSON(url, function (result) {
                if (result.data != null) {
                    section = document.getElementById('slider-1');
                    section.style.display = 'block';
                    Object.values(result.data).forEach(function (key) {
                        addRecommendation(key, section);
                    });

                    run_flickity();
                }
            });
        }

        function addRecommendation(game, section) {
            itemDiv = document.createElement('div');
            itemDiv.setAttribute('class', 'slider-cell');

            itemImage = document.createElement('img');
            itemImage.setAttribute('class', "title-image");
            itemImage.setAttribute('data-flickity-lazyload', 'https://' + game['cover']);
            itemImage.setAttribute('title', game['title']);

            itemLink = document.createElement('a');
            itemLink.setAttribute('href', '/games/' + game['game_id']);
            itemLink.appendChild(itemImage);
            itemDiv.appendChild(itemLink);
            section.appendChild(itemDiv);
        }

    </script>
{% endblock content %}
