{% extends "gameplan/base.html" %}
{% load static %}

{% block content %}
    <section id="top-image"></section>

    <div class="container">
        <section id="top-info-section">
            <div class="row d-flex flex-row" id="top-info-box">
                <div class="col-12 col-lg-3"><img id="top-cover-img">
                </div>
                <div class="col-12 col-lg-9 flex-column" id="top-info-text-holder">
                    <div class="row">
                        <div class="col">
                            <h1 id="game-name-heading"></h1>
                        </div>
                    </div>
                    <div class="row" id="top-info-text">
                        <div class="col" id="top-info-table-holder">
                            <div id="top-info-button-holder">
                                <form class="top-info-form">
                                    <button aria-haspopup="true" class="btn btn-outline-primary"
                                            id="add-to-wishlist-button"
                                            onclick="return addRemoveWishlist()" type="button">Add to wishlist
                                    </button>
                                </form>
                                <form class="top-info-form">
                                    <button title="Buy now" aria-haspopup="true" class="btn btn-outline-primary"
                                            id="buy-title-button"
                                            onclick="return buyTitle()" type="button">Buy now
                                        <i class="fas fa-shopping-bag" style="margin-left: 8px"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="table-responsive table-borderless">
                                <table class="table" id="info-table">
                                    <tbody class="d-inline-block float-left">
                                    <tr>
                                        <td class="left-cell">Developer</td>
                                        <td class="cell-field" id="top-info-developer"></td>
                                    </tr>
                                    <tr>
                                        <td class="left-cell">Publisher</td>
                                        <td class="cell-field" id="top-info-publisher"></td>
                                    </tr>
                                    <tr>
                                        <td class="left-cell">Genres</td>
                                        <td class="cell-field" id="top-info-genres"></td>
                                    </tr>
                                    <tr>
                                        <td class="left-cell">Platforms</td>
                                        <td class="cell-field" id="top-info-platforms"></td>
                                    </tr>
                                    <tr>
                                        <td class="left-cell">Release date</td>
                                        <td class="cell-field" id="top-info-release-date"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="body-section">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="section-heading">Summary</h1>
                    <p id="body-summary"></p>
                </div>
                <div class="col-lg-6">
                    <h1 class="section-heading">Screenshots</h1>
                    <div class="carousel slide" data-ride="carousel" id="carousel" data-interval="6000">
                        <div class="carousel-inner" id="carousel-inner" role="listbox"></div>
                        <div>
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="screenshots-section">

        </section>

        <section id="recommendations-section">
            <h1 class="section-heading">Similar to this game</h1>
            <div class="slider" id="slider-similar">
            </div>
        </section>

    </div>

    <script>
        var gameId = {{ request.resolver_match.kwargs.game_id }};
        var currentTitle;

        $(document).ready(function () {
            getGameDetails(gameId);
            log_detail_view_event(gameId, csrftoken, sessionid);
            element = document.getElementById('slider-similar');
            getContentRecommendations(gameId, element);
        });

        function addRemoveWishlist() {
            gameId = {{ request.resolver_match.kwargs.game_id }}
                $.ajax({
                        type: 'POST',
                        url: '{% url 'add_remove_wishlist' %}',
                        data: {
                            'game_id': gameId,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        success: function (result) {
                            if (result['auth']) {
                                showHideWishlistIcon(result['on_wishlist']);
                                if (result['on_wishlist']) log_wishlist_event(gameId, csrftoken, sessionid);
                            } else {
                                window.location.replace('{% url 'login' %}?next={{ request.path }}')
                            }
                        },
                    }
                );
            return false;
        }

        function showHideWishlistIcon(show) {
            icon = document.createElement('i');
            icon.setAttribute('style', 'margin-left: 8px');
            button = document.getElementById('add-to-wishlist-button');
            if (show) {
                icon.setAttribute('class', 'fas fa-heart');
                button.setAttribute('title', 'Remove from wishlist');
                button.innerHTML = "Remove from wishlist";
                button.appendChild(icon);
            } else {
                icon.setAttribute('class', 'far fa-heart');
                button.setAttribute('title', 'Add to wishlist');
                button.innerHTML = "Add to wishlist";
                button.appendChild(icon);
            }
        }

        function buyTitle() {
            log_purchase_event(gameId, csrftoken, sessionid)
        }

        // DETAILS
        function getGameDetails(gameId) {
            url = '/games/details/' + gameId;

            $.getJSON(url, function (game) {
                if (game != null) {
                    currentTitle = game;

                    // TOP IMAGE
                    topImage = document.getElementById('top-image');
                    topImage.setAttribute('style', 'background-image: url(https://' + game[0]['screenshots'][0]['url'] + ')');

                    // COVER IMAGE
                    coverImage = document.getElementById('top-cover-img');
                    coverImage.setAttribute('src', 'https://' + game[0]['cover']);

                    // TITLE
                    gameNameHeading = document.getElementById('game-name-heading');
                    gameNameHeading.innerHTML = game[0]['title'];
                    document.title = game[0]['title'] + ' | GamePlan';

                    // COMPANIES
                    developerTopInfo = document.getElementById('top-info-developer');
                    publisherTopInfo = document.getElementById('top-info-publisher');
                    for (var i = 0; i < game[0]['involved_companies'].length; i++) {
                        if (game[0]['involved_companies'][i]['is_dev'] === true) {
                            if (developerTopInfo.innerHTML !== '') developerTopInfo.innerHTML = developerTopInfo.innerHTML + ", ";
                            developerLink = document.createElement('a');
                            developerLink.setAttribute('href', '/company/' + game[0]['involved_companies'][i]['company_id']);
                            developerLink.innerHTML = game[0]['involved_companies'][i]['name'];
                            developerTopInfo.appendChild(developerLink);

                        }
                        if (game[0]['involved_companies'][i]['is_pub'] === true) {
                            if (publisherTopInfo.innerHTML !== '') publisherTopInfo.innerHTML = publisherTopInfo.innerHTML + ", ";
                            publisherLink = document.createElement('a');
                            publisherLink.setAttribute('href', '/company/' + game[0]['involved_companies'][i]['company_id']);
                            publisherLink.innerHTML = game[0]['involved_companies'][i]['name'];
                            publisherTopInfo.appendChild(publisherLink);
                        }
                    }

                    // GENRES
                    genresTopInfo = document.getElementById('top-info-genres');
                    for (var i = 0; i < game[0]['genres'].length; i++) {
                        if (genresTopInfo.innerHTML !== '') genresTopInfo.innerHTML = genresTopInfo.innerHTML + ", ";
                        genreLink = document.createElement('a');
                        genreLink.setAttribute('href', '/genre/' + game[0]['genres'][i]['genre_id']);
                        genreLink.innerHTML = game[0]['genres'][i]['name'];
                        genresTopInfo.appendChild(genreLink);
                    }

                    // PLATFORMS
                    platformsTopInfo = document.getElementById('top-info-platforms');
                    for (var i = 0; i < game[0]['platform'].length; i++) {
                        if (platformsTopInfo.innerHTML !== '') platformsTopInfo.innerHTML = platformsTopInfo.innerHTML + ", ";
                        platformLink = document.createElement('a');
                        platformLink.setAttribute('href', '/platform/' + game[0]['platform'][i]['platform_id']);
                        platformLink.innerHTML = game[0]['platform'][i]['name'];
                        platformsTopInfo.appendChild(platformLink);
                    }

                    // RELEASE DATE
                    releaseDateTopInfo = document.getElementById('top-info-release-date');
                    unix_time = game[0]['first_release_date'];
                    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Sepember', 'October',
                        'November', 'December'];
                    date = new Date(unix_time * 1000); // Converting to millis
                    day = date.getDate();
                    month = months[date.getMonth()];
                    year = date.getFullYear();
                    releaseDateTopInfo.innerHTML = day + ' ' + month + ' ' + year;

                    if (developerTopInfo.innerHTML === '') {
                        developerTopInfo.innerHTML = 'Unknown'
                    }

                    if (publisherTopInfo.innerHTML === '') {
                        publisherTopInfo.innerHTML = 'Unknown'
                    }

                    // SUMMARY
                    summaryInfo = document.getElementById('body-summary');
                    summaryInfo.innerHTML = game[0]['summary'];

                    // SCREENSHOTS
                    screenshotsSection = document.getElementById('carousel-inner');
                    for (var i = 0; i < game[0]['screenshots'].length; i++) {
                        carouselItemDiv = document.createElement('div');
                        if (i === 0) carouselItemDiv.setAttribute('class', 'carousel-item active');
                        else carouselItemDiv.setAttribute('class', 'carousel-item');

                        carouselItemImg = document.createElement('img');
                        carouselItemImg.setAttribute('class', 'w-100 d-block');
                        carouselItemImg.setAttribute('src', 'https://' + game[0]['screenshots'][i]['url']);
                        carouselItemImg.setAttribute('title', game[0]['title']);

                        carouselItemDiv.appendChild(carouselItemImg);
                        screenshotsSection.appendChild(carouselItemDiv);
                    }

                    showHideWishlistIcon(game[0]['on_wishlist'])
                }
            });
        }

    </script>
{% endblock content %}
